<ion-content [fullscreen]="true">
  <!-- HEADER -->
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <!-- Bouton du menu -->
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <!-- Logo dans la toolbar -->
      <div class="text-center -ml-16">
        <span>TRANSACTIONS</span>
      </div>
    </ion-toolbar>
  </ion-header>

  <!-- CONTENU PRINCIPAL -->
  <!-- SECTION ACCUEIL -->
  <div class="welcome-row flex items-center">
    <!-- Bouton retour -->
    <ion-button fill="clear" size="small" (click)="goBack()">
      <ion-icon slot="icon-only" name="arrow-back-outline" class="text-bluetresor"></ion-icon>
    </ion-button>

    <!-- Texte de bienvenue -->
    <div class="welcome-text">

    </div>

    <!-- Logo -->
    <img
      src="../../assets/logo-tresorpay.png"
      alt="Logo TresorPay"
      class="welcome-logo ml-2"
    />
  </div>



  <!-- ******************************************************-->
  <!-- Input multi -->
  <div class="card flex flex-col gap-4">
    <div class="font-semibold text-xl text-red-50">
      ------------------------------------------------
    </div>

    <!-- Multiselect secteurs -->
    <p-multiSelect
      [options]="sectors"
      [(ngModel)]="selectedSectors"
      placeholder="Rechercher un secteur..."
      optionLabel="label"
      optionValue="value"
      display="chip"
      [filter]="true"
      class="ml-5 mr-5"
    >
      <!-- Option dans la liste -->
      <ng-template pTemplate="item" let-sector>
        <div class="flex items-center">
        <span class="mr-2">
          <!-- icône ou drapeau, si besoin -->
        </span>
          <div>{{ sector.label }}</div>
        </div>
      </ng-template>

      <!-- Chip sélectionné -->
      <ng-template pTemplate="selectedItems" let-items>
        <div *ngFor="let sector of items"
             class="inline-flex items-center py-1 px-2 bg-primary text-primary-contrast rounded-border mr-2">
          {{ sector.label }}
        </div>
      </ng-template>
    </p-multiSelect>

    <div class="font-semibold text-xl text-red-50">
      ------------------------------------------------
    </div>
  </div>

  <!-- ******************************************************-->
  <!-- End input multi -->


  <!-- Liste des transactions -->
  <ion-list>
    <ion-item *ngFor="let transaction of filteredTransactions">
      <ion-label>
        <ion-row>
          <ion-col size="6">
            <h2>{{ transaction.date }}</h2>
            <p>{{ transaction.description }}</p>
          </ion-col>
          <ion-col size="3" class="ion-text-end">
            <strong>{{ transaction.amount }}F</strong>
          </ion-col>
          <ion-col size="3" class="ion-text-end"
            [ngClass]="{'positive-text': transaction.variation > 0, 'negative-text': transaction.variation < 0}">
            <span>{{ transaction.variation > 0 ? '+' : '' }}{{ transaction.variation }}</span>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>


