<ion-content [fullscreen]="true">
  <!-- HEADER -->
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title class="text-center">REÇU DE PAIEMENT</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- LOGO ET IDENTITÉ -->
  <div class="welcome-row mt-5">
    <div class="welcome-text">
      <strong>EDUCATION</strong>
    </div>
    <img
      src="../../assets/logo-tresorpay.png"
      alt="Logo TresorPay"
      class="welcome-logo"
    />
  </div>

  <!-- TITRE -->
  <ion-card
    color="light"
    class="mt-4"
    style="background-color: #234477; color: white"
  >
    <ion-card-content class="text-center">
      <h2 style="margin: 0; font-weight: bold">REÇU DE PAIEMENT</h2>
    </ion-card-content>
  </ion-card>
  <div class="flex justify-center gap-4 mt-2">
    <ion-button color="primary" fill="outline" size="small">
      <ion-icon name="download-outline" slot="start"></ion-icon>
      Télécharger
    </ion-button>
    <ion-button color="secondary" fill="outline" size="small">
      <ion-icon name="share-social-outline" slot="start"></ion-icon>
      Partager
    </ion-button>
  </div>
  <!-- TABLEAU DES DÉTAILS -->
  <div class="ion-padding" style="background-image: url('../../assets/logo_dgcpt_floutte.png'); background-repeat: no-repeat; background-position: center; background-size: 15rem;">
    <table
      style="width: 100%; border-collapse: collapse; font-size: 0.9rem"
      border="1"
    >
      
      <tr>
        <th style="text-align: left; padding: 6px; border: 0.5px solid black">
          ÉTABLISSEMENT
        </th>
        <td style="padding: 6px; border: 0.5px solid black">
          UNIVERSITÉ OMAR BONGO
        </td>
      </tr>
      <tr>
        <th style="text-align: left; padding: 6px; border: 0.5px solid black">
          BÉNÉFICIAIRE
        </th>
        <td style="padding: 6px; border: 0.5px solid black">ONDO NGUEMA</td>
      </tr>
      <tr>
        <th style="text-align: left; padding: 6px; border: 0.5px solid black">
          INITIATEUR
        </th>
        <td style="padding: 6px; border: 0.5px solid black">
          Alain KASSA‑BAYONNE
        </td>
      </tr>
      <tr>
        <th style="text-align: left; padding: 6px; border: 0.5px solid black">
          MODE DE PAIEMENT
        </th>
        <td style="padding: 6px; border: 0.5px solid black">AIRTEL MONEY</td>
      </tr>
      <tr>
        <th style="text-align: left; padding: 6px; border: 0.5px solid black">
          DATE
        </th>
        <td style="padding: 6px; border: 1px solid black">08-04-2025</td>
      </tr>
      <tr>
        <th style="text-align: left; padding: 6px; border: 0.5px solid black">
          COMPTE CRÉDITEUR
        </th>
        <td style="padding: 6px; border: 0.5px solid black">077898709</td>
      </tr>
    </table>
  </div>

  <!-- MONTANT -->
  <div class="text-center ion-padding">
    <div style="font-size: 1.1rem">Montant Payé</div>
    <div style="font-size: 1.3rem; font-weight: bold">10 000 FCFA</div>
  </div>

  <!-- FOOTER -->
  <ion-footer class="ion-padding">
    <div
      class="flex justify-around align-items-center"
      style="font-size: small"
    >
      <p>+241 11666111</p>
      <br />

      <a href="https://tresorpay.ga" target="_blank">Rue Alfred MARCHE</a>
    </div>
  </ion-footer>
</ion-content>
