<ion-content [fullscreen]="true">
  <!-- HEADER -->
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <!-- Bouton du menu -->
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <!-- Logo dans la toolbar -->
      <div class="text-center -ml-16">
        <span>EDUCATION</span>
      </div>
    </ion-toolbar>
  </ion-header>


  <!-- CONTENU PRINCIPAL -->
  <!-- CONTENU PRINCIPAL -->
  <div class="welcome-row">
    <!-- Bouton retour -->
    <ion-button fill="clear" size="small" (click)="goBack()">
      <ion-icon slot="icon-only" name="arrow-back-outline" style="color: #214579"></ion-icon>
    </ion-button>
    <img
      src="../../assets/logo-tresorpay.png"
      alt="Logo TresorPay"
      class="welcome-logo"
    />
  </div>

  <!-- ******************************************************-->
  <ion-card color="primary" class="col-span-12 h-12.5">
    <ion-card-content class="text-center">
      <ion-label class="text-lg font-bold">CHOIX ETABLISSEMENT</ion-label>
    </ion-card-content>
  </ion-card>
  <!-- ******************************************************-->

  <!-- Input multi -->
  <div class="card flex flex-col gap-4">
    <div class="font-semibold text-xl text-red-50">

    </div>
    <p-multiselect
      [options]=""
      placeholder="Rechercher établissement..."
      optionLabel="name"
      display="chip"
      [filter]="true"
      class="multi-search-dropdown"
    >
      <ng-template #selecteditems let-countries>
        @for (country of countries; track country.code) {
        <div
          class="inline-flex items-center py-1 px-2 bg-primary text-primary-contrast rounded-border mr-2"
        >
          <span
            [class]="'mr-2 flag flag-' + country.code.toLowerCase()"
            style="width: 18px; height: 12px"
          ></span>
          <div>{{ country.name }}</div>
        </div>
        }
      </ng-template>
      <ng-template #item let-country>
        <div class="flex items-center">
          <span
            [class]="'mr-2 flag flag-' + country.code.toLowerCase()"
            style="width: 18px; height: 12px"
          ></span>
          <div>{{ country.name }}</div>
        </div>
      </ng-template>
    </p-multiselect>
    <div class="font-semibold text-xl text-red-50">

    </div>
  </div>
  <!-- ******************************************************-->
  <!-- End input multi -->

  <!-- WIDGET GRID -->
  <div class="scrollable-content mx-auto p-3 -mt-4 d-flex flex-column">
    <p-divider type="solid" />
    <div class="flex items-center justify-between w-full p-0 flex-column">
      <div class="flex items-center gap-4 w-full"  (click)="redirectTo('sectorform')">
        <!-- Image -->
        <img src="../../assets/logo-uob.png" alt="avalon-layout" width="52" />

        <!-- First block -->
        <div class="flex flex-col">
          <span class="text-xs font-medium">UNIVERSITE OMAR BONGO (UOB)</span>
          <span class="text-gray-500 text-sm"
            ><ion-icon name="location-sharp"></ion-icon> Libreville</span
          >
        </div>

        <!-- Spacer -->
        <div class="flex-grow"></div>
      </div>
    </div>
    <p-divider type="solid" />
    <div class="flex items-center justify-between w-full p-0 flex-column">
      <div class="flex items-center gap-4 w-full">
        <!-- Image -->
        <img src="../../assets/logo-luss.png" alt="avalon-layout" width="52" />

        <!-- First block -->
        <div class="flex flex-col">
          <span class="text-xs font-medium"
            >UNIVERSITE SCIENCES DE LA SANTE (USS)</span
          >

          <span class="text-gray-500 text-sm">
            <ion-icon name="location-sharp"></ion-icon>Owendo
          </span
          >
        </div>

        <!-- Spacer -->
        <div class="flex-grow"></div>
      </div>
    </div>
    <p-divider type="solid" />
    <div class="flex items-center justify-between w-full p-0 flex-column">
      <div class="flex items-center gap-4 w-full"  (click)="redirectTo('sectorform')">
        <!-- Image -->
        <img src="../../assets/logo-ustm.png" alt="avalon-layout" width="52" />

        <!-- First block -->
        <div class="flex flex-col">
          <span class="text-xs font-medium">UNIVERSITE DE SCIENCES ET TECHNIQUES DE MASUKU (USTM)</span>
          <span class="text-gray-500 text-sm"
          ><ion-icon name="location-sharp"></ion-icon> Franceville</span
          >
        </div>

        <!-- Spacer -->
        <div class="flex-grow"></div>
      </div>
    </div>
    <p-divider type="solid" />
    <div class="flex items-center justify-between w-full p-0 flex-column">
      <div class="flex items-center gap-4 w-full"  (click)="redirectTo('sectorform')">
        <!-- Image -->
        <img src="../../assets/logo-ito.png" alt="avalon-layout" width="52" />

        <!-- First block -->
        <div class="flex flex-col">
          <span class="text-xs font-medium">INSTITUT DE TECHNOLOGIES D'OWENDO (ITO)</span>
          <span class="text-gray-500 text-sm"
          ><ion-icon name="location-sharp"></ion-icon> Owendo</span
          >
        </div>

        <!-- Spacer -->
        <div class="flex-grow"></div>
      </div>
    </div>
    <p-divider type="solid" />
    <div class="flex items-center justify-between w-full p-0 flex-column">
      <div class="flex items-center gap-4 w-full"  (click)="redirectTo('sectorform')">
        <!-- Image -->
        <img src="../../assets/logo-ist.png" alt="avalon-layout" width="52" />

        <!-- First block -->
        <div class="flex flex-col">
          <span class="text-xs font-medium">INSTITUT SUPERIEUR DE TECHNOLOGIES (IST)</span>
          <span class="text-gray-500 text-sm"
          ><ion-icon name="location-sharp"></ion-icon> Libreville</span
          >
        </div>

        <!-- Spacer -->
        <div class="flex-grow"></div>
      </div>
    </div>
    <p-divider type="solid" />
    <div class="flex items-center justify-between w-full p-0 flex-column">
      <div class="flex items-center gap-4 w-full"  (click)="redirectTo('sectorform')">
        <!-- Image -->
        <img src="../../assets/logo-insg.png" alt="avalon-layout" width="52" />

        <!-- First block -->
        <div class="flex flex-col">
          <span class="text-xs font-medium">INSTITUT NATIONAL DE SCIENCES DE GESTION (INSG)</span>
          <span class="text-gray-500 text-sm"
          ><ion-icon name="location-sharp"></ion-icon> Libreville</span
          >
        </div>

        <!-- Spacer -->
        <div class="flex-grow"></div>
      </div>
    </div>
    <p-divider type="solid" />
    <div class="flex items-center justify-between w-full p-0 flex-column">
      <div class="flex items-center gap-4 w-full"  (click)="redirectTo('sectorform')">
        <!-- Image -->
        <img src="../../assets/logo-insab.png" alt="avalon-layout" width="52" />

        <!-- First block -->
        <div class="flex flex-col">
          <span class="text-xs font-medium">INSTITUT NATIONAL SUPERIEUR D'AGRONOMIE ET BIOTHCHNOLOGIES (INSAB)</span>
          <span class="text-gray-500 text-sm"
          ><ion-icon name="location-sharp"></ion-icon> Franceville</span
          >
        </div>

        <!-- Spacer -->
        <div class="flex-grow"></div>
      </div>
    </div>
    <p-divider type="solid" />
    <div class="flex items-center justify-between w-full p-0 flex-column">
      <div class="flex items-center gap-4 w-full"  (click)="redirectTo('sectorform')">
        <!-- Image -->
        <img src="../../assets/logo-inptic.png" alt="avalon-layout" width="52" />

        <!-- First block -->
        <div class="flex flex-col">
          <span class="text-xs font-medium">INSTITUT NATIONAL DE LA POSTE DES TECHNOLOGIES DE L'INFORMATIONS ET DE LA COMMUNICATION (INPTIC)</span>
          <span class="text-gray-500 text-sm"
          ><ion-icon name="location-sharp"></ion-icon> Libreville</span
          >
        </div>

        <!-- Spacer -->
        <div class="flex-grow"></div>
      </div>
    </div>
    <p-divider type="solid" />
    <div class="flex items-center justify-between w-full p-0 flex-column">
      <div class="flex items-center gap-4 w-full"  (click)="redirectTo('sectorform')">
        <!-- Image -->
        <img src="../../assets/logo-ena.png" alt="avalon-layout" width="52" />

        <!-- First block -->
        <div class="flex flex-col">
          <span class="text-xs font-medium">ECOLE NATIONALE D'ADMINISTRATION (ENA)</span>
          <span class="text-gray-500 text-sm"
          ><ion-icon name="location-sharp"></ion-icon> Libreville</span
          >
        </div>

        <!-- Spacer -->
        <div class="flex-grow"></div>
      </div>
    </div>
    <p-divider type="solid" />
    <div class="flex items-center justify-between w-full p-0 flex-column">
      <div class="flex items-center gap-4 w-full"  (click)="redirectTo('sectorform')">
        <!-- Image -->
        <img ngSrc="../../assets/logo-epca.png" alt="avalon-layout" width="52" height="52"/>

        <!-- First block -->
        <div class="flex flex-col">
          <span class="text-xs font-medium">ECOLE DE PREPARATION AUX CARRIERES ADMINISTRATIVES (EPCA)</span>
          <span class="text-gray-500 text-sm"
          ><ion-icon name="location-sharp"></ion-icon> Libreville</span
          >
        </div>

        <!-- Spacer -->
        <div class="flex-grow"></div>
      </div>
    </div>
    <p-divider type="solid" />
  </div>
</ion-content>

<!-- FOOTER -->
