<ion-content [fullscreen]="true">
  <!-- HEADER -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <!-- Bouton du menu -->
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>

      <!-- Logo dans la toolbar -->
      <div class="header-logo">
        <img
          src="../../assets/logo-tresorpay.png"
          alt="TresorPay Logo"
          class="toolbar-logo"
        />
      </div>
    </ion-toolbar>
  </ion-header>

  <!-- CONTENU PRINCIPAL -->
  <div class="ion-padding">
    <img
      ngSrc="../../assets/icons/user.jpeg"
      alt="TresorPay Logo"
      class="profile-img"
      height="581"
      width="810"
    />
    <div class="dashboard-profile-text">
      BIENVENU SUR <span style="color: #f2d52a">TRESORPAY!</span> <br />
      Alain KASSA-BAYONNE
    </div>
  </div>

  <!-- ******************************************************-->
  <!-- Input multi -->
  <div class="card flex flex-col gap-4">
    <div class="font-semibold text-xl text-red-50">
      ------------------------------------------------
    </div>
    <p-multiselect
      [options]=""
      placeholder="Rechercher..."
      optionLabel="name"
      display="chip"
      [filter]="true"
      class="multi-search-dropdown"
    >
      <ng-template #selecteditems let-countries>
        @for (country of countries; track country.code) {
        <div
          class="inline-flex items-center py-1 px-2 bg-primary text-primary-contrast rounded-border mr-2"
        >
          <span
            [class]="'mr-2 flag flag-' + country.code.toLowerCase()"
            style="width: 18px; height: 12px"
          ></span>
          <div>{{ country.name }}</div>
        </div>
        }
      </ng-template>
      <ng-template #item let-country>
        <div class="flex items-center">
          <span
            [class]="'mr-2 flag flag-' + country.code.toLowerCase()"
            style="width: 18px; height: 12px"
          ></span>
          <div>{{ country.name }}</div>
        </div>
      </ng-template>
    </p-multiselect>
    <div class="font-semibold text-xl text-red-50">
      ------------------------------------------------
    </div>
  </div>
  <!-- ******************************************************-->
  <!-- End input multi -->

  <!-- WIDGET GRID -->
  <div class="scrollable-content mx-auto p-3 d-flex flex-column">
    <div class="flex items-center justify-between w-full p-4 flex-column">
      <div class="flex items-center gap-4 w-full"  (click)="redirectTo('sectorform')">
        <!-- Image -->
        <img src="../../assets/uob.jpeg" alt="avalon-layout" width="52" />

        <!-- First block -->
        <div class="flex flex-col">
          <span class="text-sm font-medium">UNIVERSITE OMAR BONGO ONDIMBA</span>

          <span class="text-gray-500 text-sm"
            ><ion-icon name="locate-outline"></ion-icon> Libreville</span
          >
        </div>

        <!-- Spacer -->
        <div class="flex-grow"></div>
      </div>
    </div>
    <div class="flex items-center justify-between w-full p-4 flex-column">
      <div class="flex items-center gap-4 w-full">
        <!-- Image -->
        <img src="../../assets/uss.jpeg" alt="avalon-layout" width="52" />

        <!-- First block -->
        <div class="flex flex-col">
          <span class="text-sm font-medium"
            >UNIVERSITE SCIENCES DE LA SANTE</span
          >

          <span class="text-gray-500 text-sm">
            <ion-icon name="locate-outline"></ion-icon> Owendo</span
          >
        </div>

        <!-- Spacer -->
        <div class="flex-grow"></div>
      </div>
    </div>
  </div>
</ion-content>

<!-- FOOTER -->
<ion-footer>
  <ion-toolbar style="color: white">
    <ion-grid>
      <ion-row class="ion-justify-content-around">
        <!-- Bouton Accueil -->
        <ion-col size="6" class="ion-text-center">
          <ion-button fill="clear">
            <ion-icon name="home-outline"></ion-icon>
          </ion-button>
          <div style="color: rgb(19, 77, 185)">Accueil</div>
        </ion-col>
        <!-- Bouton Historique -->
        <ion-col size="6" class="ion-text-center">
          <ion-button fill="clear">
            <ion-icon name="alarm-outline"></ion-icon>
          </ion-button>
          <div style="color: rgb(13, 56, 197)">Historique</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
