<ion-content [fullscreen]="true">
  <!-- HEADER -->
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <!-- Bouton du menu -->
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <!-- Logo dans la toolbar -->
      <div class="text-center">
        <span>EDUCATION</span>
      </div>
    </ion-toolbar>
  </ion-header>

  <!-- CONTENU PRINCIPAL -->
  <!-- CONTENU PRINCIPAL -->
  <div class="welcome-row">
    <div class="welcome-text">
      <strong>EDUCATION</strong>
    </div>
    <img
      src="../../assets/logo-tresorpay.png"
      alt="Logo TresorPay"
      class="welcome-logo"
    />
  </div>

  <!-- ******************************************************-->
  <ion-card color="primary" class="col-span-12 h-12.5">
    <ion-card-content class="text-center">
      <ion-label class="text-lg font-bold">CHOIX SECTEUR</ion-label>
    </ion-card-content>
  </ion-card>
  <!-- ******************************************************-->

  <!-- Input multi -->
  <div class="card flex flex-col gap-4">
    <div class="font-semibold text-xl text-red-50">

    </div>
    <p-multiselect
      [options]=""
      placeholder="Rechercher..."
      optionLabel="name"
      display="chip"
      [filter]="true"
      class="multi-search-dropdown"
    >
      <ng-template #selecteditems let-countries>
        @for (country of countries; track country.code) {
        <div
          class="inline-flex items-center py-1 px-2 bg-primary text-primary-contrast rounded-border mr-2"
        >
          <span
            [class]="'mr-2 flag flag-' + country.code.toLowerCase()"
            style="width: 18px; height: 12px"
          ></span>
          <div>{{ country.name }}</div>
        </div>
        }
      </ng-template>
      <ng-template #item let-country>
        <div class="flex items-center">
          <span
            [class]="'mr-2 flag flag-' + country.code.toLowerCase()"
            style="width: 18px; height: 12px"
          ></span>
          <div>{{ country.name }}</div>
        </div>
      </ng-template>
    </p-multiselect>
    <div class="font-semibold text-xl text-red-50">

    </div>
  </div>
  <!-- ******************************************************-->
  <!-- End input multi -->

  <!-- WIDGET GRID -->
  <div class="scrollable-content mx-auto p-3 d-flex flex-column">
    <div class="flex items-center justify-between w-full p-3 flex-column">
      <div class="flex items-center gap-4 w-full"  (click)="redirectTo('sectorform')">
        <!-- Image -->
        <img src="../../assets/logo-uob.png" alt="avalon-layout" width="52" />

        <!-- First block -->
        <div class="flex flex-col">
          <span class="text-sm font-medium">UNIVERSITE OMAR BONGO</span>
          <span class="text-gray-500 text-sm"
            ><ion-icon name="locate-outline"></ion-icon> Libreville</span
          >
        </div>

        <!-- Spacer -->
        <div class="flex-grow"></div>
      </div>
    </div>
    <p-divider type="solid" />
    <div class="flex items-center justify-between w-full p-3 flex-column">
      <div class="flex items-center gap-4 w-full">
        <!-- Image -->
        <img src="../../assets/logo-luss.png" alt="avalon-layout" width="52" />

        <!-- First block -->
        <div class="flex flex-col">
          <span class="text-sm font-medium"
            >UNIVERSITE SCIENCES DE LA SANTE</span
          >

          <span class="text-gray-500 text-sm">
            <ion-icon name="locate-outline"></ion-icon> Owendo</span
          >
        </div>

        <!-- Spacer -->
        <div class="flex-grow"></div>
      </div>
    </div>
  </div>
</ion-content>

<!-- FOOTER -->
