<ion-app>
  <ion-split-pane contentId="main-content">
    <!-- Menu latéral -->
    <ion-menu contentId="main-content" type="overlay">
      <ion-header style="display: flex; margin-left: 1rem; margin-top: 1rem">
        <ion-avatar>
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-item lines="none">
            <ion-label>
              <h2>John Doe</h2>
              <p>+123 456 789</p>
            </ion-label>
          </ion-item>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/dashboard">
              <ion-icon slot="start" name="grid-outline"></ion-icon>
              <ion-label>Menu</ion-label>
            </ion-item>
            <ion-item routerLink="/settings">
              <ion-icon slot="start" name="settings-outline"></ion-icon>
              <ion-label>Paramètres</ion-label>
            </ion-item>
            <ion-item routerLink="/logout">
              <ion-icon slot="start" name="log-out-outline"></ion-icon>
              <ion-label>Déconnexion</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    
    <div class="ion-page" id="main-content">
      <ion-router-outlet></ion-router-outlet>
    </div>
  </ion-split-pane>
  
</ion-app>
