

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <!-- Bouton du menu -->
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>

      <!-- Logo dans la toolbar -->
      <div class="header-logo">
        <img
          src="../../assets/logo-tresorpay.png"
          alt="TresorPay Logo"
          class="toolbar-logo"
        />
      </div>
    </ion-toolbar>
  </ion-header>



  <!-- FORM SECTION -->
  <form class="text-left mt-5 p-4 space-y-4">

    <!-- Établissement Dropdown -->

    <div class="form-group">
      <label for="etablissement" class="block text-sm font-medium text-gray-700">Etablissement</label>
      <input
        type="number"
        id="Etablissement"
        name="etablissement"
        placeholder="Etablissement"
        class="block w-full px-3 py-2 text-sm text-gray-700 placeholder-gray-400 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
      />
    </div>
    <!-- Motif de Paiement Dropdown -->
    <div class="form-group">
      <label for="motif" class="block text-sm font-medium text-gray-700">Motif de paiement</label>
      <p-select name="motif" [(ngModel)]="dropdownValue" [options]="dropdownValues" optionLabel="name" placeholder="Mode de paiement" class="w-full" />
    </div>

    <!-- Montant -->
    <div class="form-group">
      <label for="montant" class="block text-sm font-medium text-gray-700">Montant</label>
      <input
        type="number"
        id="montant"
        name="montant"
        placeholder="Montant à payer"
        class="block w-full px-3 py-2 text-sm text-gray-700 placeholder-gray-400 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
      />
    </div>

    <!-- Initiateur -->
    <div class="form-group">
      <label for="initiateur" class="block text-sm font-medium text-gray-700">Initiateur</label>
      <input
        type="text"
        id="initiateur"
        name="initiateur"
        placeholder="Nom de l'initiateur"
        class="block w-full px-3 py-2 text-sm text-gray-700 placeholder-gray-400 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
      />
    </div>

    <!-- Bénéficiaire -->
    <div class="form-group">
      <label for="beneficiaire" class="block text-sm font-medium text-gray-700">Bénéficiaire</label>
      <input
        type="text"
        id="beneficiaire"
        name="beneficiaire"
        placeholder="Nom du bénéficiaire"
        class="block w-full px-3 py-2 text-sm text-gray-700 placeholder-gray-400 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
      />
    </div>

    <div class="flex items-center justify-around mt-10 ">
      <button
        pButton
        type="submit"
        label="Annuler"
         style="background-color: var(--ion-color-danger)"
        class="w-40 p-button-rounded p-button-danger p-button-sm bg-color-danger"

      ></button>
      <button
        pButton
        type="submit"
        label="Valider"
        style="background-color: var(--blue-color); color: white; border: none;"
        class="w-40 p-button-rounded p-button-warning p-button-sm bg-blue-color"

      ></button>
    </div>

    <!-- Submit Button -->

  </form>
</ion-content>

<ion-footer>
  <ion-toolbar style="color: white">
    <ion-grid>
      <ion-row class="ion-justify-content-around">
        <!-- Bouton Accueil -->
        <ion-col size="6" class="ion-text-center">
          <ion-button fill="clear">
            <ion-icon name="home-outline"></ion-icon>
          </ion-button>
          <div style="color: rgb(19, 77, 185)">Accueil</div>
        </ion-col>
        <!-- Bouton Historique -->
        <ion-col size="6" class="ion-text-center">
          <ion-button fill="clear">
            <ion-icon name="alarm-outline"></ion-icon>
          </ion-button>
          <div style="color: rgb(13, 56, 197)">Historique</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

