<ion-content [fullscreen]="true" class="!p-0 !m-0">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <!-- Bouton du menu -->
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <!-- Logo dans la toolbar -->
      <div class="text-center -ml-16">
        <span>EDUCATION</span>
      </div>
    </ion-toolbar>
  </ion-header>

  <!-- CONTENU PRINCIPAL -->
  <div class="welcome-row">
    <!-- Bouton retour -->
    <ion-button fill="clear" size="small" (click)="goBack()">
      <ion-icon
        slot="icon-only"
        name="arrow-back-outline"
        style="color: #214579"
      ></ion-icon>
    </ion-button>
    <img
      src="../../assets/logo-tresorpay.png"
      alt="Logo TresorPay"
      class="welcome-logo"
    />
  </div>
  <!-- ******************************************************-->
  <ion-card color="primary" class="col-span-12 h-12.5" *ngIf="showForm">
    <ion-card-content class="text-center">
      <ion-label class="text-lg font-bold">INITIATION TRANSACTION</ion-label>
    </ion-card-content>
  </ion-card>
  <!-- ******************************************************-->

  <!-- FORM SECTION -->
  <div class="flex items-center justify-center px-2" *ngIf="showForm">
    <form class="w-full max-w-md bg-white rounded-lg p-6 space-y-2">
      <!-- Établissement -->
      <div class="form-group">
        <label
          for="etablissement"
          class="block text-sm font-medium text-gray-700"
          >Etablissement</label
        >
        <input
          type="text"
          id="etablissement"
          name="etablissement"
          [value]="etablissement?.libelle"
          placeholder="UNIVERSITE OMAR BONGO"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md text-sm shadow-sm focus:ring-2 focus:ring-blue-500 focus:outline-none"
          disabled
        />
      </div>

      <!-- Motif de paiement -->
      <div class="form-group">
        <label for="motif" class="block text-sm font-medium text-gray-700"
          >Motif de paiement</label
        >
        <p-select
          id="motif"
          name="motif"
          [(ngModel)]="motifPaiement"
          [options]="etablissement.motifPaiementList"
          optionLabel="libelle"
          class="w-full mt-1"
        ></p-select>
      </div>

      <!-- Montant -->
      <div class="form-group">
        <label for="montant" class="block text-sm font-medium text-gray-700"
          >Montant</label
        >
        <input
          type="number"
          id="montant"
          name="montant"
          placeholder="10 000"
          [(ngModel)]="montant"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md text-sm shadow-sm focus:ring-2 focus:ring-blue-500 focus:outline-none"
        />
      </div>

      <!-- Initiateur -->
      <div class="form-group">
        <label for="initiateur" class="block text-sm font-medium text-gray-700"
          >Initiateur</label
        >
        <input
          type="text"
          id="initiateur"
          name="initiateur"
          [(ngModel)]="initiateur"
          placeholder="Alain KASSA-BAYONNE"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md text-sm shadow-sm focus:ring-2 focus:ring-blue-500 focus:outline-none"
        />
      </div>

      <!-- Bénéficiaire -->
      <div class="form-group">
        <label
          for="beneficiaire"
          class="block text-sm font-medium text-gray-700"
          >Bénéficiaire</label
        >
        <input
          type="text"
          id="beneficiaire"
          name="beneficiaire"
          placeholder="Jean-Mark ONDO NGUEMA"
          [(ngModel)]="beneficiaire"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md text-sm shadow-sm focus:ring-2 focus:ring-blue-500 focus:outline-none"
        />
      </div>

      <!-- Boutons -->
      <div class="flex items-center justify-between pt-4">
        <button
          pButton
          type="button"
          style="background-color: #a8aaaa; border: none; color: white"
          class="w-36 p-button-rounded text-white px-4 py-2 rounded-md text-sm"
          (click)="goBackToForm()"
        >
          Précédent
        </button>
        <button
          pButton
          type="button"
          style="background-color: #234477; border: none; color: white"
          class="w-36 p-button-rounded bg-blue-600 text-white px-4 py-2 rounded-md text-sm"
          (click)="goToPaymentMethods()"
        >
          Suivant
        </button>
      </div>
    </form>
  </div>

  <!-- PAYMENT METHOD SECTION -->
  <div class="" *ngIf="!showForm">
    <!-- Titre -->
    <ion-card color="primary" class="col-span-12 h-12.5">
      <ion-card-content class="text-center">
        <ion-label class="text-lg font-bold">MOYENS DE PAIEMENTS</ion-label>
      </ion-card-content>
    </ion-card>

    <!-- Grille des moyens de paiement -->
    <div class="flex justify-center items-center">
      <div class="grid grid-cols-3 gap-2 w-full max-w-4xl">
        @for (modePaiement of modesPaiement; track modePaiement.id) {
          <ion-card
            class="flex items-center justify-center aspect-square p-2 shadow-xl cursor-pointer"
            (click)="redirectToPayment('/payment-option', modePaiement.libelle)"
          >
            <ion-img
            [src]='formatImage(modePaiement.photo)'
            [alt]='modePaiement.libelle'
            class="w-full h-full object-contain"
         ></ion-img>
          </ion-card>
        }
      </div>
    </div>
  </div>
</ion-content>
