

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <!-- Bouton du menu -->
        <ion-menu-button></ion-menu-button>

        <!-- Drawer (tiroir) -->
        <p-drawer #drawerRef [(visible)]="visible">
          <ng-template #headless>
            <div class="flex flex-col h-full">
              <!-- En-tête du Drawer -->
              <div class="flex items-center justify-between px-6 pt-4 shrink-0">
                <span class="inline-flex items-center gap-2">
                  <svg
                    width="31"
                    height="33"
                    viewBox="0 0 31 33"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="block mx-auto"
                  >
                    <path d="..." />
                  </svg>
                  <span class="font-semibold text-2xl text-primary"
                  >Your Logo</span
                  >
                </span>
                <span>
                  <p-button
                    type="button"
                    (click)="closeCallback($event)"
                    icon="pi pi-times"
                    rounded="true"
                    outlined="true"
                    styleClass="h-8 w-8"
                  >
                  </p-button>
                </span>
              </div>

              <!-- Contenu déroulant du Drawer -->
              <div class="overflow-y-auto">
                <ul class="list-none p-4 m-0">
                  <li>
                    <div
                      pRipple
                      pStyleClass="@next"
                      enterFromClass="hidden"
                      enterActiveClass="animate-slidedown"
                      leaveToClass="hidden"
                      leaveActiveClass="animate-slideup"
                      class="p-4 flex items-center justify-between text-surface-600 dark:text-surface-200 cursor-pointer p-ripple"
                    >
                      <span class="font-medium">FAVORITES</span>
                      <i class="pi pi-chevron-down"></i>
                    </div>
                    <ul class="list-none p-0 m-0 overflow-hidden">
                      <li>
                        <a
                          pRipple
                          class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                        >
                          <i class="pi pi-home mr-2"></i>
                          <span class="font-medium">Dashboard</span>
                        </a>
                      </li>
                      <li>
                        <a
                          pRipple
                          class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                        >
                          <i class="pi pi-bookmark mr-2"></i>
                          <span class="font-medium">Bookmarks</span>
                        </a>
                      </li>
                      <li>
                        <a
                          pRipple
                          pStyleClass="@next"
                          enterFromClass="hidden"
                          enterActiveClass="animate-slidedown"
                          leaveToClass="hidden"
                          leaveActiveClass="animate-slideup"
                          class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                        >
                          <i class="pi pi-chart-line mr-2"></i>
                          <span class="font-medium">Reports</span>
                          <i class="pi pi-chevron-down ml-auto"></i>
                        </a>
                        <ul
                          class="list-none py-0 pl-4 pr-0 m-0 hidden overflow-y-hidden transition-all duration-[400ms] ease-in-out"
                        >
                          <li>
                            <a
                              pRipple
                              pStyleClass="@next"
                              enterFromClass="hidden"
                              enterActiveClass="animate-slidedown"
                              leaveToClass="hidden"
                              leaveActiveClass="animate-slideup"
                              class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                            >
                              <i class="pi pi-chart-line mr-2"></i>
                              <span class="font-medium">Revenue</span>
                              <i class="pi pi-chevron-down ml-auto"></i>
                            </a>
                            <ul
                              class="list-none py-0 pl-4 pr-0 m-0 hidden overflow-y-hidden transition-all duration-[400ms] ease-in-out"
                            >
                              <li>
                                <a
                                  pRipple
                                  class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                                >
                                  <i class="pi pi-table mr-2"></i>
                                  <span class="font-medium">View</span>
                                </a>
                              </li>
                              <li>
                                <a
                                  pRipple
                                  class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                                >
                                  <i class="pi pi-search mr-2"></i>
                                  <span class="font-medium">Search</span>
                                </a>
                              </li>
                            </ul>
                          </li>
                          <li>
                            <a
                              pRipple
                              class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                            >
                              <i class="pi pi-chart-line mr-2"></i>
                              <span class="font-medium">Expenses</span>
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a
                          pRipple
                          class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                        >
                          <i class="pi pi-users mr-2"></i>
                          <span class="font-medium">Team</span>
                        </a>
                      </li>
                      <li>
                        <a
                          pRipple
                          class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                        >
                          <i class="pi pi-comments mr-2"></i>
                          <span class="font-medium">Messages</span>
                          <span
                            class="inline-flex items-center justify-center ml-auto bg-primary text-primary-contrast rounded-full"
                            style="min-width: 1.5rem; height: 1.5rem"
                          >3</span
                          >
                        </a>
                      </li>
                      <li>
                        <a
                          pRipple
                          class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                        >
                          <i class="pi pi-calendar mr-2"></i>
                          <span class="font-medium">Calendar</span>
                        </a>
                      </li>
                      <li>
                        <a
                          pRipple
                          class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                        >
                          <i class="pi pi-cog mr-2"></i>
                          <span class="font-medium">Settings</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>

                <!-- Menu "APPLICATION" -->
                <ul class="list-none p-4 m-0">
                  <li>
                    <div
                      pRipple
                      pStyleClass="@next"
                      enterFromClass="hidden"
                      enterActiveClass="animate-slidedown"
                      leaveToClass="hidden"
                      leaveActiveClass="animate-slideup"
                      class="p-4 flex items-center justify-between text-surface-600 dark:text-surface-200 cursor-pointer p-ripple"
                    >
                      <span class="font-medium">APPLICATION</span>
                      <i class="pi pi-chevron-down"></i>
                    </div>
                    <ul class="list-none p-0 m-0 overflow-hidden">
                      <li>
                        <a
                          pRipple
                          class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                        >
                          <i class="pi pi-folder mr-2"></i>
                          <span class="font-medium">Projects</span>
                        </a>
                      </li>
                      <li>
                        <a
                          pRipple
                          class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                        >
                          <i class="pi pi-chart-bar mr-2"></i>
                          <span class="font-medium">Performance</span>
                        </a>
                      </li>
                      <li>
                        <a
                          pRipple
                          class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                        >
                          <i class="pi pi-cog mr-2"></i>
                          <span class="font-medium">Settings</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

              <!-- Pied de page du Drawer -->
              <div class="mt-auto">
                <hr class="mb-4 mx-4 border-t border-0 border-surface" />
                <a
                  pRipple
                  class="m-4 flex items-center cursor-pointer p-4 gap-2 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                >
                  <p-avatar
                    image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                    shape="circle"
                  ></p-avatar>
                  <span class="font-bold">Amy Elsner</span>
                </a>
              </div>
            </div>
          </ng-template>
        </p-drawer>

        <!-- Bouton pour ouvrir le Drawer et icône d'animation -->
        <p-button (click)="visible = true" icon="pi pi-bars"></p-button>
        <i class="pi pi-spin pi-cog" style="font-size: 2rem"></i>
      </ion-buttons>

      <!-- Logo dans la toolbar -->
      <div class="header-logo">
        <img
          src="../../assets/logo-tresorpay.png"
          alt="TresorPay Logo"
          class="toolbar-logo"
        />
      </div>
    </ion-toolbar>
  </ion-header>



  <!-- FORM SECTION -->
  <form class="text-left mt-5 p-4 space-y-4">

    <!-- Établissement Dropdown -->

    <div class="form-group">
      <label for="etablissement" class="block text-sm font-medium text-gray-700">Etablissement</label>
      <input
        type="number"
        id="Etablissement"
        name="etablissement"
        placeholder="Etablissement"
        class="block w-full px-3 py-2 text-sm text-gray-700 placeholder-gray-400 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
      />
    </div>
    <!-- Motif de Paiement Dropdown -->
    <div class="form-group">
      <label for="motif" class="block text-sm font-medium text-gray-700">Motif de paiement</label>
      <p-select name="motif" [(ngModel)]="dropdownValue" [options]="dropdownValues" optionLabel="name" placeholder="Mode de paiement" class="w-full" />
    </div>

    <!-- Montant -->
    <div class="form-group">
      <label for="montant" class="block text-sm font-medium text-gray-700">Montant</label>
      <input
        type="number"
        id="montant"
        name="montant"
        placeholder="Montant à payer"
        class="block w-full px-3 py-2 text-sm text-gray-700 placeholder-gray-400 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
      />
    </div>

    <!-- Initiateur -->
    <div class="form-group">
      <label for="initiateur" class="block text-sm font-medium text-gray-700">Initiateur</label>
      <input
        type="text"
        id="initiateur"
        name="initiateur"
        placeholder="Nom de l'initiateur"
        class="block w-full px-3 py-2 text-sm text-gray-700 placeholder-gray-400 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
      />
    </div>

    <!-- Bénéficiaire -->
    <div class="form-group">
      <label for="beneficiaire" class="block text-sm font-medium text-gray-700">Bénéficiaire</label>
      <input
        type="text"
        id="beneficiaire"
        name="beneficiaire"
        placeholder="Nom du bénéficiaire"
        class="block w-full px-3 py-2 text-sm text-gray-700 placeholder-gray-400 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
      />
    </div>

    <div class="flex items-center justify-around mt-10 ">
      <button
        pButton
        type="submit"
        label="Annuler"
         style="background-color: var(--ion-color-danger)"
        class="w-40 p-button-rounded p-button-danger p-button-sm bg-color-danger"

      ></button>
      <button
        pButton
        type="submit"
        label="Valider"
        style="background-color: var(--blue-color); color: white; border: none;"
        class="w-40 p-button-rounded p-button-warning p-button-sm bg-blue-color"

      ></button>
    </div>

    <!-- Submit Button -->

  </form>
</ion-content>

<ion-footer>
  <ion-toolbar style="color: white">
    <ion-grid>
      <ion-row class="ion-justify-content-around">
        <!-- Bouton Accueil -->
        <ion-col size="6" class="ion-text-center">
          <ion-button fill="clear">
            <ion-icon name="home-outline"></ion-icon>
          </ion-button>
          <div style="color: rgb(19, 77, 185)">Accueil</div>
        </ion-col>
        <!-- Bouton Historique -->
        <ion-col size="6" class="ion-text-center">
          <ion-button fill="clear">
            <ion-icon name="alarm-outline"></ion-icon>
          </ion-button>
          <div style="color: rgb(13, 56, 197)">Historique</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

