<ion-content [fullscreen]="true" class="!p-0 !m-0">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <div class="text-center">
        <span>PAIEMENT</span>
      </div>
    </ion-toolbar>
  </ion-header>
  <!-- CONTENU PRINCIPAL -->
  <div class="welcome-row mt-5">
    <ion-button fill="clear" size="small" (click)="goBack()">
      <ion-icon slot="icon-only" name="arrow-back-outline" style="color: #214579"></ion-icon>
    </ion-button>
    <div class="welcome-text">
      <strong>EDUCATION</strong>
    </div>
    <img
      src="../../assets/logo-tresorpay.png"
      alt="Logo TresorPay"
      class="welcome-logo"
    />
  </div>
   <!-- ******************************************************-->
   <ion-card color="primary" class="col-span-12 h-12.5">
    <ion-card-content class="text-center">
      <ion-label class="text-lg font-bold">PAIEMENT PAR {{ method }}</ion-label>
    </ion-card-content>
  </ion-card>
  <!-- ******************************************************-->
  <!-- PAYMENT METHOD SECTION -->
  <div class="flex items-center justify-center px-4 mt-10">
    <div class="w-full max-w-md bg-white rounded-lg p-4">
      <!-- <ion-label
        class="block text-left font-semibold text-base mb-6 mt-4 flex items-center gap-2"
      >
        <ion-icon
          name="checkmark-circle-outline"
          class="text-green-600"
          style="font-size: 1.5rem"
        ></ion-icon>
        <span class="text-base">PAIEMENT PAR {{ method }}</span>
      </ion-label> -->

      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmitNumber()"
        class="text-left"
      >
        <label
          for="phone"
          class="block mb-2 text-surface-600 dark:text-surface-400"
        >
          Téléphone*
        </label>
        <input
          id="phone"
          type="text"
          formControlName="phoneNumber"
          class="w-full px-4 py-2 mb-2 border border-gray-300 rounded-md"
          placeholder="Entrez numéro compte créditeur"
        />

        <div
          *ngIf="loginForm.get('phoneNumber')?.touched && loginForm.get('phoneNumber')?.invalid"
          class="text-sm text-red-600 mb-4"
        >
          <p *ngIf="loginForm.get('phoneNumber')?.hasError('required')">
            Numéro de téléphone requis
          </p>
          <p *ngIf="loginForm.get('phoneNumber')?.hasError('pattern')">
            Numéro invalide (8 à 15 chiffres)
          </p>
        </div>

        <!-- Bouton Valider -->
        <div class="w-full flex items-center justify-around content-center mt-10">
          <button pButton  label="PRECEDENT"
                  (click)="goBackToForm()"
                  style="background-color: #a8aaaa; border: none; color: white"
                  class="w-40 p-button-rounded p-button-warning p-button-sm mr-1"
          >

          </button>
          <button
            type="submit"
            pButton  label="CONTINUER"

                  [disabled]="loginForm.invalid"
                  style="background-color: var(--blue-color)"
                  class="w-40 p-button-rounded p-button-warning p-button-sm bg-greentresor ml-1"
          >

          </button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
