<ion-content class="login-background" fullscreen>
  <div class="connexion-container">
    <img
      src="../../assets/logo-tresorpay.png"
      alt="TresorPay Logo"
      class="tresor-pay-logo"
    />

    <h2 class="title">Code de confirmation</h2>
    <div class="text otp-text">
      Un SMS et un e-mail vous ont été envoyés. Merci de consulter votre
      messagerie et de saisir le code OTP reçu.
    </div>

    <ion-label id="otp-time">{{ remainingTime }}</ion-label>

    <form [formGroup]="otpForm" (ngSubmit)="onConfirmOtp()">
      <div class="form-container">
        <div class="form-group">
          <div class="otp-content">
            <ion-input
              type="number"
              maxlength="1"
              formControlName="digit1"
              class="otp-input"
            ></ion-input>
            <ion-input
              type="number"
              maxlength="1"
              formControlName="digit2"
              class="otp-input"
            ></ion-input>
            <ion-input
              type="number"
              maxlength="1"
              formControlName="digit3"
              class="otp-input"
            ></ion-input>
            <ion-input
              type="number"
              maxlength="1"
              formControlName="digit4"
              class="otp-input"
            ></ion-input>
            <ion-input
              type="number"
              maxlength="1"
              formControlName="digit5"
              class="otp-input"
            ></ion-input>
            <ion-input
              type="number"
              maxlength="1"
              formControlName="digit6"
              class="otp-input"
            ></ion-input>
          </div>
        </div>

        <ion-button
          expand="block"
          shape="round"
          class="continue-button"
          type="submit"
        >
          Confirmer
        </ion-button>
      </div>

      <div class="text connexion-text">
        Vous n'avez pas reçu de code ?<br />
        <p style="text-align: center; color: #f2d52a">Renvoyer</p>
      </div>
    </form>
  </div>
</ion-content>
