<ion-content [fullscreen]="true" class="bg-gray-100">
  <!-- Header -->
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="text-center font-bold">Mon Profil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="welcome-row flex items-center">
    <!-- Retour Button -->
    <ion-button fill="clear" size="small" (click)="goBack()">
      <ion-icon
        slot="icon-only"
        name="arrow-back-outline"
        class="text-bluetresor"
      ></ion-icon>
    </ion-button>

    <!-- Welcome Text -->
    <div class="welcome-text">
      <strong>MON PROFILE</strong>
    </div>

    <!-- Logo -->
    <img
      src="../../assets/logo-tresorpay.png"
      alt="Logo TresorPay"
      class="welcome-logo ml-2"
    />
  </div>

  <!-- Profile Section -->
  <div class="flex flex-col items-center px-6 -pt-5 space-y-2 pb-5">
    <!-- Profile Avatar -->
    <div class="relative">
      <img
        src="../../assets/icons/user.jpeg"
        alt="Avatar"
        class="w-28 h-28 rounded-full border-4 border-white shadow-lg object-cover"
      />
      <ion-button
        fill="clear"
        size="small"
        class="absolute bottom-0 right-0 p-0 m-0 rounded-full bg-primary"
      >
        <ion-icon
          name="camera-outline"
          slot="icon-only"
          class="text-white text-xl"
        ></ion-icon>
      </ion-button>
    </div>

    <!-- Name & Info -->
    <div class="text-center">
      <h2 class="text-xl font-semibold text-blue-900">
        {{ user.prenom }} {{ user.nom }}
      </h2>
    </div>


    <!-- Form Card -->
    <ion-card class="w-full rounded-2xl shadow-xl mb-5 ">
      <ion-card-content class="space-y-3">
        <!-- Formulaire -->
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="text-left">
          <input
            id="prenom"
            type="text"
            formControlName="prenom"
            class="w-full px-4 mb-4 border border-gray-300 rounded-md"
            placeholder="Entrez votre prénom*"
          />
          <div class="text-sm text-red-600 mb-4" *ngIf="profileForm.get('prenom')?.touched && profileForm.get('prenom')?.invalid">
            Le prénom est requis.
          </div>
          <input
            id="nom"
            type="text"
            formControlName="nom"
            class="w-full px-4 mb-4 border border-gray-300 rounded-md"
            placeholder="Entrez votre nom*"
          />
          <div class="text-sm text-red-600 mb-4" *ngIf="profileForm.get('nom')?.touched && profileForm.get('nom')?.invalid">
            Le nom est requis.
          </div>



          <input
            id="phone"
            type="number"
            formControlName="phoneNumber"
            class="w-full px-4 mb-4 border border-gray-300 rounded-md"
            placeholder="Entrez votre numéro de téléphone"
          />
          <div class="text-sm text-red-600 mb-4" *ngIf="profileForm.get('phoneNumber')?.invalid && profileForm.get('phoneNumber')?.touched">
            Numéro invalide.
          </div>

          <input
            id="email"
            type="email"
            formControlName="email"
            class="w-full px-4 mb-4 border border-gray-300 rounded-md"
            placeholder="Entrez votre email*"
          />
          <div class="text-sm text-red-600 mb-4" *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.touched">
            Email invalide.
          </div>

          <input
            id="password"
            type="password"
            formControlName="password"
            class="w-full px-4 mb-4 border border-gray-300 rounded-md"
            placeholder="Entrez votre mot de passe"
          />
          <div class="text-sm text-red-600 mb-4" *ngIf="profileForm.get('password')?.invalid && profileForm.get('password')?.touched">
            Minimum 6 caractères.
          </div>

          <input
            id="confirmPassword"
            type="password"
            formControlName="confirmPassword"
            class="w-full px-4 mb-4 border border-gray-300 rounded-md"
            placeholder="Confirmer votre mot de passe"
          />
          <div class="text-sm text-red-600 mb-4"
               *ngIf="profileForm.hasError('passwordsMismatch') && profileForm.get('confirmPassword')?.touched">
            Les mots de passe ne correspondent pas.
          </div>

          <div class="w-full flex items-center justify-center gap-2 mt-2">

            <button pButton type="submit"
                    style="background-color: var(--blue-color); color: white; border: none;"
                    class="w-40 p-button-rounded p-button-warning p-button-sm bg-blue-color"
            >
              SAUVEGARDER
            </button>
          </div>
        </form>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
