/* Positionnement du logo dans le toolbar */
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar-logo {
  height: 35px;
}

/* Style de la searchbar et autres contenus */
.ion-padding {
  background: none;
  height: auto;  /* Laissez la hauteur s'ajuster au contenu */
  display: flex;
  margin-top: 2rem;
  align-items: center;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  justify-content: space-around;
}

.dashboard-profile-text {
  color: blue;
  font-size: 0.9rem;
}

/* Styles pour les boutons de filtre */
#filterBtn {
  border-radius: 10px;
  padding-left: 10px;
}

#filterBtn ion-icon {
  font-size: 20px;
  margin-right: 8px;
}

/* Exemple de styling du footer pour forcer le bg rouge via variable CSS */
:root {
  --background-color: red;
}

.dashboard-header {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
  /*background: #234477;*/
  background: red;

}

/*=============================================*/
/*===Logo et texte de dashboard=====*/
.welcome-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  flex-wrap: wrap; /* pour que ça s'adapte sur petits écrans */
}

.welcome-text {
  font-size: 0.8rem;
  color: #234477;
  font-weight: 500;
  flex: 1;
}

.welcome-text .highlight {
  color: #f2d52a;
  font-weight: bold;
}

.welcome-logo {
  width: 150px;
  height: auto;
}



.dashboard-card {
  font-family: 'Poppins', sans-serif;
  background-color: #234477;
  color: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  min-height: 120px; /* fixe une hauteur minimale */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-card-title {
  font-weight: 500;
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  white-space: normal;
  word-break: break-word;
  overflow: hidden;
  max-height: 3.5rem; /* 🔐 limite l'espace que peut prendre le texte */
  line-height: 1.2rem;
}



.dashboard-card-value {
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


