.ion-padding {
  background-color: #234477;
  height: 5rem;
  display: flex;
  margin-top: 2rem;
  align-items: center;

  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  justify-content: space-around;
}
.dashboard-profile-text {
  color: white;
  font-size: 0.9rem;
  line-height: 1.2;
}
#filterBtn {
  border-radius: 10px;

  padding-left: 10px;
}

#filterBtn ion-icon {
  font-size: 20px;
  margin-right: 8px;
}

ion-content.scrollable-content {
  --overflow: auto;
  height: 100%;
  overflow-y: auto !important;
}