<ion-content [fullscreen]="true">
  <!-- HEADER -->
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <!-- Bouton du menu -->
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <!-- Logo dans la toolbar -->
      <div class="text-center -ml-16">
        <span>ACCUEIL</span>
      </div>
    </ion-toolbar>
  </ion-header>

  <!-- CONTENU PRINCIPAL -->
  <div class="welcome-row">
    <div class="welcome-text">
      <strong>BIENVENUE SUR</strong>
    </div>
    <img
      src="../../assets/logo-tresorpay.png"
      alt="Logo TresorPay"
      class="welcome-logo"
    />
  </div>


  <!-- ******************************************************-->
  <!-- Input multi -->
  <div class="card flex flex-col gap-4">
    <div class="font-semibold text-xl text-red-50">
      ------------------------------------------------
    </div>
    <p-multiselect
      [options]="secteurs"
      placeholder="Rechercher secteur..."
      optionLabel="libelle"
      display="chip"
      [filter]="true"
      class="ml-5 mr-5"
    >
  <ng-template #selecteditems let-selectedSecteurs>
    @for (secteur of secteurs; track secteur.id) {
      <div class="inline-flex items-center py-1 px-2 bg-primary text-primary-contrast rounded-border mr-2">
        <div>{{ secteur.libelle }}</div>
      </div>
    }
  </ng-template>

  <ng-template #item let-secteur>
    <div class="flex items-center">
      <div>{{ secteur.libelle }}</div>
    </div>
  </ng-template>
</p-multiselect>

    <div class="font-semibold text-xl text-red-50">
      ------------------------------------------------
    </div>
  </div>
  <!-- ******************************************************-->
  <!-- End input multi -->

  <!-- WIDGET GRID -->
  <!-- WIDGET GRID -->
  <div class="scrollable-content mx-auto p-3">
    <div class="grid grid-cols-12 gap-4">

      <!-- ÉDUCATION -->
      @for (secteur of secteurs; track secteur.id) {
      <div class="col-span-4 text-2xl" (click)="redirectTo('sector', secteur.slug)">
        <div class="dashboard-card">
          <div class="dashboard-card-title font-bold">{{secteur.libelle}}</div>
          <div class="dashboard-card-value">
            <span>{{secteur.nbChildren}}</span>
            <ion-icon name="school-outline" size="large"></ion-icon>
          </div>
        </div>
      </div>
    }

      


      <!-- EDUCATION (2) -->
      <!--<div class="col-span-4 md:col-span-4 lg:col-span-4">
        <div class="dashboard-card">
          <div class="dashboard-card-title">DOUANES</div>
          <div class="dashboard-card-value">
            <span>150</span>
             <ion-icon name="school-outline" size="large"></ion-icon>
          </div>
        </div>
      </div>

      &lt;!&ndash; IMPOTS (4) &ndash;&gt;
      <div class="col-span-4 md:col-span-4 lg:col-span-4">
        <div class="dashboard-card">
          <div class="dashboard-card-title">IMPOTS</div>
          <div class="dashboard-card-value">
            <span>150</span>
             <ion-icon name="school-outline" size="large"></ion-icon>
          </div>
        </div>
      </div>-->

    </div>
  </div>

</ion-content>

