<ion-content [fullscreen]="true">
  <ion-header >
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <div class="header-logo">
        <img
          src="../../assets/logo-tresorpay.png"
          alt="TresorPay Logo"
          class="toolbar-logo"
        />
      </div>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <img
      ngSrc="../../assets/icons/user.jpeg"
      alt="TresorPay Logo"
      class="profile-img"
      height="581"
      width="810"
    />
    <div class="dashboard-profile-text">
      BIENVENU SUR <span style="color: #f2d52a">TRESORPAY!</span> <br />Alain
      KASSA-BAYONNE
    </div>
  </div>
  <div class="profile-filters">
    <!-- Premier Dropdown -->
    <ion-list style="margin-top: 1rem" lines="none" class="list-btn-bg">
      <ion-item>
        <ion-select placeholder="Secteurs">
          <ion-select-option value="apple">Apple</ion-select-option>
          <ion-select-option value="banana">Banana</ion-select-option>
          <ion-select-option value="orange">Orange</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-button expand="block" class="continue-button" routerLink="/home">
      <ion-icon name="funnel-outline"></ion-icon>
    </ion-button>
  </div>
  <div class="widget-grid">
    <ion-item lines="none" class="custom-widget">
      <ion-label>
        <p>EDUCATION</p>
        <ion-icon name="school-outline"></ion-icon>
      </ion-label>
      <!-- <ion-label style="font-size: 0.7rem">EDUCATION</ion-label>
      <ion-icon name="school-outline"></ion-icon> -->
    </ion-item>

    <ion-item lines="none" class="custom-widget">
      <ion-label>
        <p>EDUCATION</p>
        <ion-icon name="school-outline"></ion-icon>
      </ion-label>
    </ion-item>

    <ion-item lines="none" class="custom-widget">
      <ion-label>
        <p>JUSTICE</p>
        <ion-icon name="school-outline"></ion-icon>
      </ion-label>
    </ion-item>
    <ion-item lines="none" class="custom-widget">
      <ion-label>
        <p>EDUCATION</p>
        <ion-icon name="school-outline"></ion-icon>
      </ion-label>
    </ion-item>

    <ion-item lines="none" class="custom-widget">
      <ion-label>
        <p>EDUCATION</p>
        <ion-icon name="school-outline"></ion-icon>
      </ion-label>
    </ion-item>

    <ion-item lines="none" class="custom-widget">
      <ion-label>
        <p>EDUCATION</p>
        <ion-icon name="school-outline"></ion-icon>
      </ion-label>
    </ion-item>
   

    
    
  </div>
  <ion-tabs>
    <ion-tab-bar
      slot="bottom"
      color="light"
      style="background-color: #234477; color: white; margin-top:20rem;"
    >
      <ion-tab-button
        tab="favorites"
        routerLink="/tabs/favorites"
        routerDirection="root"
        style="background-color: #234477; color: white"
      >
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Accueil</ion-label>
      </ion-tab-button>

      <ion-tab-button
        tab="history"
        routerLink="/history"
        style="background-color: #234477; color: white"
      >
        <ion-icon name="alarm-outline"></ion-icon>
        <ion-label>Historique</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
    <ion-tab-bar
    slot="bottom"
    color="light"
    style="background-color: #fff; color: white"
  >
   
  </ion-tab-bar>
  </ion-tabs>
</ion-content>
