<ion-content [fullscreen]="true">
  <!-- HEADER -->
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <!-- Bouton du menu -->
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <!-- Logo dans la toolbar -->
      <div class="text-center">
        <span>TABLEAU DE BORD</span>
      </div>
    </ion-toolbar>
  </ion-header>

  <!-- CONTENU PRINCIPAL -->
  <div class="welcome-row">
    <div class="welcome-text">
      BIENVENU SUR <span class="highlight">TRESORPAY!</span><br />
      <strong>Alain KASSA-BAYONNE</strong>
    </div>
    <img
      src="../../assets/logo-tresorpay.png"
      alt="Logo TresorPay"
      class="welcome-logo"
    />
  </div>


  <!-- ******************************************************-->
  <!-- Input multi -->
  <div class="card flex flex-col gap-4">
    <div class="font-semibold text-xl text-red-50">
      ------------------------------------------------
    </div>
    <p-multiselect
      [options]=""
      placeholder="Rechercher..."
      optionLabel="name"
      display="chip"
      [filter]="true"
    >
      <ng-template #selecteditems let-countries>
        @for (country of countries; track country.code) {
        <div
          class="inline-flex items-center py-1 px-2 bg-primary text-primary-contrast rounded-border mr-2"
        >
          <span
            [class]="'mr-2 flag flag-' + country.code.toLowerCase()"
            style="width: 18px; height: 12px"
          ></span>
          <div>{{ country.name }}</div>
        </div>
        }
      </ng-template>
      <ng-template #item let-country>
        <div class="flex items-center">
          <span
            [class]="'mr-2 flag flag-' + country.code.toLowerCase()"
            style="width: 18px; height: 12px"
          ></span>
          <div>{{ country.name }}</div>
        </div>
      </ng-template>
    </p-multiselect>
    <div class="font-semibold text-xl text-red-50">
      ------------------------------------------------
    </div>
  </div>
  <!-- ******************************************************-->
  <!-- End input multi -->

  <!-- WIDGET GRID -->
  <!-- WIDGET GRID -->
  <div class="scrollable-content mx-auto p-3">
    <div class="grid grid-cols-12 gap-4">

      <!-- ÉDUCATION -->
      <div class="col-span-4 md:col-span-4 lg:col-span-4" (click)="redirectTo('sector', 'education')">
        <div class="dashboard-card">
          <div class="dashboard-card-title">EDUCATION</div>
          <div class="dashboard-card-value">
            <span>150</span>
            <i class="pi pi-graduation-cap"></i>
          </div>
        </div>
      </div>

      <!-- SANTÉ -->
      <div class="col-span-4 md:col-span-4 lg:col-span-4">
        <div class="dashboard-card">
          <div class="dashboard-card-title">SANTÉ</div>
          <div class="dashboard-card-value">
            <span>150</span>
            <i class="pi pi-headphones"></i>
          </div>
        </div>
      </div>

      <!-- FINANCE -->
      <div class="col-span-4 md:col-span-4 lg:col-span-4">
        <div class="dashboard-card">
          <div class="dashboard-card-title">FINANCE</div>
          <div class="dashboard-card-value">
            <span>150</span>
            <i class="pi pi-euro"></i>
          </div>
        </div>
      </div>

      <!-- EDUCATION (2) -->
      <div class="col-span-4 md:col-span-4 lg:col-span-4">
        <div class="dashboard-card">
          <div class="dashboard-card-title">EDUCATION</div>
          <div class="dashboard-card-value">
            <span>150</span>
            <i class="pi pi-arrow-up"></i>
          </div>
        </div>
      </div>

      <!-- EDUCATION (3) -->
      <div class="col-span-4 md:col-span-4 lg:col-span-4">
        <div class="dashboard-card">
          <div class="dashboard-card-title">EDUCATION</div>
          <div class="dashboard-card-value">
            <span>150</span>
            <i class="pi pi-arrow-up"></i>
          </div>
        </div>
      </div>

      <!-- EDUCATION (4) -->
      <div class="col-span-4 md:col-span-4 lg:col-span-4">
        <div class="dashboard-card">
          <div class="dashboard-card-title">EDUCATION</div>
          <div class="dashboard-card-value">
            <span>150</span>
            <i class="pi pi-arrow-up"></i>
          </div>
        </div>
      </div>

      <!-- EDUCATION (5) -->
      <div class="col-span-4 md:col-span-4 lg:col-span-4">
        <div class="dashboard-card">
          <div class="dashboard-card-title">EDUCATION</div>
          <div class="dashboard-card-value">
            <span>150</span>
            <i class="pi pi-arrow-up"></i>
          </div>
        </div>
      </div>

      <!-- EDUCATION (6) -->
      <div class="col-span-4 md:col-span-4 lg:col-span-4">
        <div class="dashboard-card">
          <div class="dashboard-card-title">EDUCATION</div>
          <div class="dashboard-card-value">
            <span>150</span>
            <i class="pi pi-arrow-up"></i>
          </div>
        </div>
      </div>

      <!-- SECTEUR -->
      <div class="col-span-4 md:col-span-4 lg:col-span-4">
        <div class="dashboard-card">
          <div class="dashboard-card-title">SECTEUR</div>
          <div class="dashboard-card-value">
            <span>150</span>
            <i class="pi pi-building-columns"></i>
          </div>
        </div>
      </div>

    </div>
  </div>

</ion-content>

