/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Styles globaux pour toute l'application.
 * Plus d'infos : https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS requis pour Ionic */
@import "@ionic/angular/css/core.css";

/* CSS de base */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* CSS utilitaires optionnels */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Mode sombre système */
@import "@ionic/angular/css/palettes/dark.system.css";

/* Styles personnalisés */
.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #222;
  margin-bottom: 1rem;
}
.tresor-pay-logo {
  width: 15rem;
}

.continue-button {
  --background: #234477;
  --color: white;

  font-weight: 600;
}

.login-background {
  --background: url("./assets/tresorpaybg.jpg") no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 2rem;
}
.profile-img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-right: 0.4rem;
}
.profile-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.list-btn-bg {
outline-color: #234477;
  border-radius: 8px;
}

.widget-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
  margin-top: 1rem;
}

.custom-widget {
  display: flex;
  flex-direction: column;
  background-color: #ededed;

  --background: #ededed;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-height: 100%;
  height: auto;
  align-items: center;
}
.custom-widget p {
  font-size: 0.7rem;
  color: black;
}
.custom-widget ion-icon {
  font-size: 2rem;
  margin-top: 1rem;
  text-align: center;
  color: #F2D52A;
  margin-left: 0.5rem;
}
ion-content {
  scroll-padding-bottom: 50px; /* adjust based on your keyboard size */
}
.header-logo {
  width: 100%;
  text-align: center;
}
.toolbar-logo {
  height: 32px;
  max-width: 120px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}
.page-breadcrumb{
  display: flex;
  background-color: #ededed;
  margin: 1rem;
}
.header-title h3{
   font-size: 1.1rem;
   padding-left: 0.5rem;
}
body {
  padding-top: var(--safe-area-top);
  padding-bottom: var(--safe-area-bottom);
  padding-left: var(--safe-area-left);
  padding-right: var(--safe-area-right);
}
